<example-text>
    <p>{ state.value }</p>
    <script>
    export default {
        onMounted() {
            this.appState.exampleText = this
            this.update({
                value: ''
            })
        }
    }
  </script>
</example-text>